html{
  font: normal 15px "Open Sans";
  letter-spacing: 0.8px;
}
header, main, footer{
  width: 100%;
}
header nav, footer nav, footer div{
  max-width: 1140px;
  margin: 0 auto;
}
header  {
  padding: remy(30);
  height: 100vh;
  background: url("../img/bg.jpg") no-repeat;
  background-size: cover;
}
header nav, footer nav{
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  align-items: center;
}
.logo {
  font-family: Tahoma;
  font-size: remy(26.3);
  letter-spacing: remy(0.07);
  text-align: left;
  color: $white;
  text-decoration: none;
  &:hover{
    text-decoration: none;
    color: $white;
  }
}
.navbar-nav {
  margin-bottom:0;
  list-style: none;
  li{
    display: inline-block;
    margin-right: remy(12);
    margin-left: remy(12);
  }
}
.navbar-nav {
  a {
    position: relative;
    font-size: remy(18);
    letter-spacing: remy(0.5);
    color: $white;
    text-decoration: none;
    &::after{
      position: absolute;
      bottom: remy(-13);
      left: remy(-13);
      content: "";
      display: inline-block;
      width: 1%;
      height: remy(2);
      background-color: $white;
      transition: all 0.3s ease-out;
      opacity: 0;
    }
    &:hover, &.active {
      text-decoration: none;
      &::after{
        right: remy(13);
        width: calc(100% + 26px);
        opacity: 1;
      }
    }
  }
}
h1, .desc{
  text-align: center;
  text-transform: uppercase;
  color: $white;
}
h1 {
  margin-top: 27.5vh;
  font-size: remy(60);
  font-weight: bold;
  letter-spacing: remy(4.5);
}
.desc{
  margin-top: remy(30);
  font-size: remy(30);
  font-style: italic;
  line-height: 0.47;
  letter-spacing: remy(0.8);
  text-align: center;
}

